* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    color: #000;
}

nav,
li {
    display: inline-block;
}

.header__container {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.header__container ul {
    display: flex;
    gap: 25px;
    height: 100%;
    align-items: center;
}

.header__container button {
    border-radius: 999px;
    background: #ada7ff;
    padding: 16px 32px;
    color: #ffffff;
}



#active {
    color: #9A93FF;
}

.section__wrapper {
    padding: 89px 10% 60px 10%;
    position: relative;
}

.section__wrapper h2,
.section__wrapper span {
    font-size: 69px;
    font-weight: 700;
    color: #302B3A;
    margin-bottom: 23px;
}

.section__wrapper span {
    color: #ADA7FF;
}

.section__wrapper>div>p {
    padding-bottom: 60px;
    max-width: 625px;
    color: #404040;
    font-weight: 400;
}

.button__container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}

.button__container button:nth-child(1) {
    padding: 16px 32px;
    border-radius: 999px;
    background: #ada7ff;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

.button__container button:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ada7ff;
    line-height: normal;
    background: transparent;
}

.stat__container {
    display: flex;
    gap: 65px;
}

.stat__container h3 {
    color: #302b3a;
    font-size: 43px;
}

.stat__container p {
    color: #686868;
}

.section__wrapper > img {
    z-index: -1;
    margin-right: 10%;
    position: absolute;
    right: 0;
    top: 0;
}